body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
.contenedor-mapa{
  width: 100%;
  height: 100vh;
  position: relative;
  max-width: 1300px;
  margin: auto;
}
.contenedor-mapa img.mapa{
  object-fit: fill;
  height: inherit;
  width: inherit;
  position:absolute;
}

.markers{
  width: 100%;
  height: 100%;
  background: rgba(0,0,0, 0.5);
  position: relative;
}

.markers .mark-container{
  position: absolute;
  display: flex;
  justify-content: center;
  width: 150px;
  cursor: pointer;
}
.mark-container .mark{
  width: 100px;
}
.mark-container span{
  position:absolute;
  left: auto;
  bottom: 15px;
  background-color: #fff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* controlando la posición de los markers */
.mark-container.mark-1{
  top: 11%;
  left: 30%;
}
.mark-container.mark-2{
  top: 23%;
  left: 75%;
}
.mark-container.mark-3{
  top: 0%;
  left: 46%;
}
.mark-container.mark-4{
  top: 25%;
  left: 43%;
}
.mark-container.mark-5{
  top: 60%;
  left: 22%;
}
.mark-container.mark-6{
  top: 21%;
  left: 35%;
}
.mark-container.mark-7{
  top: 15%;
  left: 21%;
}
.mark-container.mark-8{
  top: 70%;
  left: 78%;
}
.mark-container.mark-9{
  top: 14%;
  left: 41%;
}



/* modal */
.modal-hoteles{
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal-hoteles.open{
  display: flex;
}
.modal-hoteles.open ~ .markers{
  filter: blur(2px);
}
.modal-hoteles .cuerpo{
  background-color: #fff;
  /* padding: 10px 25px; */
  border-radius: 5px;
  position: relative;
  width: 350px;
  height: auto;
  box-shadow: 0 0 35px 5px rgba(0,0,0, 0.5);
}
.modal-hoteles .cuerpo .imagen{
  width: 100%;
  position: relative;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.modal-hoteles .cuerpo .contenedor-nombre,.modal-hoteles .cuerpo .contenedor-titulo, .modal-hoteles .cuerpo .direccion, .modal-hoteles .cuerpo .tel, .modal-hoteles .cuerpo .text{
  padding: 0 15px;
}
.modal-hoteles .cuerpo .contenedor-titulo{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 20px;
}
.modal-hoteles .cuerpo .contenedor-titulo img{
  width: 60px;
}
.modal-hoteles .cuerpo .contenedor-nombre .text-hotel{
  color: #666666;
  margin-bottom: -7px;
}
.modal-hoteles .cuerpo .nombre{
  font-size: 2.3rem;
 
}
.modal-hoteles .cuerpo .direccion{
  color: #adb5bd;
  margin: 15px 0;
}
.modal-hoteles .cuerpo .text{
  margin-bottom: 90px;
}
.modal-hoteles .cuerpo .tel{
  font-weight: bold;
  position: absolute;
  bottom: 10px;
  left: 5px;
}
.modal-hoteles .close{
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  z-index: 15;
  font-weight: bold;
  font-family: cursive;
  cursor: pointer;
  width: 30px;
  height: 25px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s ease;
}
.modal-hoteles .close:hover{
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  transform: rotate(360deg);
}
.modal-hoteles .cuerpo .link{
  position: absolute;
  bottom: 0;
  right: 20px;
  color: #666666;
  font-size: 2rem;
  animation: blip 1s infinite alternate;
}
@keyframes blip {
  100%{
    transform: translateX(.5rem);
  }
}

/* error */
.modal-hoteles .errores, .modal-hoteles.open.error .cuerpo{
  display: none;
}
.modal-hoteles.error .errores{
  display: flex;
  position: relative;
  background-color: #fff;
  height: 200px;
  width: 300px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 35px 5px rgba(0,0,0, 0.5);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-hoteles .errores .title{
  font-size: 3rem;
  margin-bottom: 15px;
}
.modal-hoteles.error .close{
  background-color: #fff;
  color: #000;
}
.modal-hoteles.error .close:hover{
  background-color: #000;
  color: #fff;
}

@media screen and (max-width: 1030px) {
  .modal-hoteles .cuerpo{
    height: 60%;
  }
  .contenedor-mapa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .markers{
    min-width: 800px;
    height: 567px;
  }
  .mark-container .mark{
    width: 60px;
  }
  .mark-container.mark-1{
    top: 9%;
    left: 27%;
  }
  .mark-container.mark-2{
    top: 23%;
    left: 70%;
  }
  .mark-container.mark-3{
    top: 0%;
    left: 43%;
  }
  .mark-container.mark-4{
    top: 25%;
    left: 40%;
  }
  .mark-container.mark-5{
    top: 60%;
    left: 19%;
  }
  .mark-container.mark-6{
    top: 21%;
    left: 30%;
  }
  .mark-container.mark-7{
    top: 16%;
    left: 18%;
  }
  .mark-container.mark-8{
    top: 70%;
    left: 73%;
  }
  .mark-container.mark-9{
    top: 14%;
    left: 38%;
  }
}
@media screen and (max-width: 500px){
  .mark-container span{
    font-size: 11px;
  }
  .markers .mark-container{
    width: 110px;
  }
  .markers {
    min-width: 670px;
  }
  .modal-hoteles{
    left: 2rem;
  }
  .modal-hoteles .cuerpo{
    height: 85%;
  }
}